@import "@styles/functions/functions";
@import "@styles/mixins/mixins";
@import "@styles/variables/variables";
@import "swiper/css";
@import "swiper/css/keyboard";
@import "@styles/ui-kit/ui/form";
@import "styles/hero";
@import "styles/projects";
@import "styles/stack";
@import "styles/specialization";
@import "styles/cooperation";
@import "styles/team";
@import "styles/reviews";
