.specialization {
  padding-block: vw-mobile(40);
  color: #646569;

  @media (min-width: #{900 + 0.1px}) {
    padding-block: vw-desktop(60);
  }

  // .specialization__container
  &__container {
  }

  // .specialization__inner
  &__inner {
    &:not(.glass--desktop) {
      --glass-padding-block: #{vw-mobile(30)};
      --glass-background: #e8e8e8;

      @media (min-width: #{900 + 0.1px}) {
        --glass-padding-block: #{vw-desktop(80)};
      }
    }
  }

  // .specialization__header
  &__header {
    margin-block-end: vw-mobile(20);
    color: $color-black;

    @media (min-width: #{900 + 0.1px}) {
      margin-block-end: vw-desktop(35);
    }
  }

  // .specialization__title
  &__title {
    margin-block-end: vw-mobile(8);

    @media (min-width: #{900 + 0.1px}) {
      margin-block-end: vw-desktop(8);
    }
  }

  // .specialization__caption
  &__caption {
    font-size: vw-mobile(24);
    line-height: 1;

    @media (min-width: #{900 + 0.1px}) {
      font-size: vw-desktop(24);
    }
  }
}

.specializations {
  // .specializations__link
  &__link {
    --button-min-width: 100%;
    --button-height: 75;
    --button-border-radius: 16;

    margin-block-start: vw-desktop(40);

    @media (max-width: 900px) {
      display: none;
    }
  }
}

.specializations-spoilers {
  display: grid;
  gap: vw-mobile(20);

  @media (min-width: #{900 + 0.1px}) {
    grid-template-columns: repeat(3, 1fr);
    gap: vw-desktop(20);
  }

  // .specializations-spoilers__item
  &__item {
    background-color: $color-white;
    border: 1px solid #dedede;
    border-radius: vw-mobile(16);
    overflow: hidden;

    @media (min-width: #{900 + 0.1px}) {
      border-radius: vw-desktop(16);
    }
  }

  // .specializations-spoilers__title
  &__title {
  }

  // .specializations-spoilers__button
  &__button {
    inline-size: 100%;
    font-size: vw-mobile(22);
    line-height: 1;
    text-transform: capitalize;
    text-align: start;
    color: $color-black;

    @media (min-width: #{900 + 0.1px}) {
      padding-block-start: vw-desktop(24);
      padding-inline: vw-desktop(24);
      font-size: vw-desktop(22);
    }

    @media (max-width: 900px) {
      display: flex;
      align-self: center;
      justify-content: space-between;
      gap: vw-mobile(20);
      padding: vw-mobile(24);

      @include prefers-reduced-motion {
        transition-property: padding-block-end;
        transition-duration: 0.3s;
      }

      .spoiler-active & {
        padding-block-end: vw-mobile(10);
      }

      @media (min-width: #{900 + 0.1px}) {
        gap: vw-desktop(20);
      }
    }
  }

  // .specializations-spoilers__label
  &__label {
    &::before,
    &::after {
      font-size: vw-mobile(26);
      color: $color-accent;

      @media (min-width: #{900 + 0.1px}) {
        font-size: vw-desktop(28);
      }
    }

    &::before {
      content: "{";
    }

    &::after {
      content: "}";
    }
  }

  // .specializations-spoilers__icon
  &__icon {
    display: flex;
    flex: 0 0 auto;
    inline-size: vw-mobile(30);
    aspect-ratio: 30 / 4;
    font-size: 0;

    @media (min-width: #{900 + 0.1px}) {
      display: none;
    }

    &::before,
    &::after {
      content: "";
      flex: 0 0 50%;
      background-color: $color-accent;

      @include prefers-reduced-motion {
        transition-property: transform;
        transition-duration: 0.3s;
      }
    }

    &::before {
      border-start-start-radius: vw-mobile(8);
      border-end-start-radius: vw-mobile(8);
      transform-origin: right;

      .spoiler-active & {
        transform: rotate(45deg) translate(vw-mobile(4), 50%);
      }
    }

    &::after {
      border-start-end-radius: vw-mobile(8);
      border-end-end-radius: vw-mobile(8);
      transform-origin: left;

      .spoiler-active & {
        transform: rotate(-45deg) translate(vw-mobile(-4), 50%);
      }
    }
  }

  // .specializations-spoilers__region
  &__region {
  }

  // .specializations-spoilers__text
  &__text {
    padding-block: vw-mobile(10) vw-mobile(24);
    padding-inline: vw-mobile(24);
    font-size: vw-mobile(14);

    @media (min-width: #{900 + 0.1px}) {
      padding-block: vw-desktop(10) vw-desktop(24);
      padding-inline: vw-desktop(24);
      font-size: vw-desktop(14);
    }
  }
}
