.stack {
  padding-block: vw-mobile(35) vw-mobile(30);

  @media (min-width: #{900 + 0.1px}) {
    padding-block: vw-desktop(40);
  }

  // .stack__container
  &__container {
  }

  // .stack__inner
  &__inner {
    @media (min-width: #{900 + 0.1px}) {
      padding-inline: vw-desktop(100);
    }
  }

  // .stack__header
  &__header {
    margin-block-end: vw-mobile(50);

    @media (min-width: #{900 + 0.1px}) {
      margin-block-end: vw-desktop(50);
    }
  }

  // .stack__title
  &__title {
  }

  // .stack__text
  &__text {
    margin-block-start: vw-mobile(10);
    font-size: vw-mobile(16);
    line-height: 1;

    @media (min-width: #{900 + 0.1px}) {
      margin-block-start: vw-desktop(10);
      font-size: vw-desktop(20);
    }

    br {
      @media (max-width: 900px) {
        display: none;
      }
    }
  }

  // .stack__list
  &__list {
  }
}

.stacks {
  display: grid;
  gap: vw-mobile(30);

  @media (min-width: #{900 + 0.1px}) {
    grid-template-columns: repeat(2, 1fr);
    row-gap: vw-desktop(50);
    column-gap: vw-desktop(20);
  }

  // .stacks__item
  &__item {
  }
}

.stacks-article {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: vw-mobile(20);

  @media (min-width: #{900 + 0.1px}) {
    gap: vw-desktop(20);
  }

  @media (max-width: 900px) {
    position: relative;
    block-size: vw-mobile(180);
    overflow: hidden;

    @include prefers-reduced-motion {
      transition-property: block-size;
      transition-duration: 0.3s;
    }

    &::after {
      content: "";
      position: absolute;
      inset-block-end: 0;
      inset-inline: 0;
      z-index: 1;
      block-size: 50%;
      background-image: linear-gradient(180deg, rgba(15, 19, 21, 0) 0%, #0f1315 100%);

      @include prefers-reduced-motion {
        transition-property: opacity;
        transition-duration: 0.3s;
      }
    }
  }

  // .stacks-article--show
  &--show {
    @media (max-width: 900px) {
      block-size: var(--stacks-article-height);

      &::after {
        opacity: 0;
      }
    }
  }

  // .stacks-article__icons
  &__icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    gap: vw-mobile(20);
    inline-size: vw-mobile(180);

    @media (min-width: #{900 + 0.1px}) {
      gap: vw-desktop(20);
      inline-size: vw-desktop(280);
    }
  }

  // .stacks-article__icon
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 vw-mobile(80);
    aspect-ratio: 1 / 1;
    font-size: 0;
    background-color: #2d2d2d;
    border-radius: vw-mobile(10);

    @media (min-width: #{900 + 0.1px}) {
      flex: 0 0 vw-desktop(80);
      border-radius: vw-desktop(10);
    }

    img {
      inline-size: calc(var(--stack-icon-width) / 80 * 100%);
    }
  }

  // .stacks-article__inner
  &__inner {
  }

  // .stacks-article__title
  &__title {
    margin-block-end: vw-mobile(10);

    @media (min-width: #{900 + 0.1px}) {
      margin-block-end: vw-desktop(10);
    }
  }

  // .stacks-article__technologies
  &__technologies {
    font-size: vw-mobile(16);

    @media (min-width: #{900 + 0.1px}) {
      font-size: vw-desktop(16);
    }
  }
}
