.team {
  padding-block: vw-mobile(20) vw-mobile(75);

  @media (min-width: #{900 + 0.1px}) {
    padding-block: vw-desktop(100) vw-desktop(80);
  }

  // .team__container
  &__container {
  }

  // .team__inner
  &__inner {
    @media (min-width: #{900 + 0.1px}) {
      padding-inline: vw-desktop(100);
    }
  }

  // .team__title
  &__title {
    margin-block-end: vw-mobile(20);

    @media (min-width: #{900 + 0.1px}) {
      margin-block-end: vw-desktop(40);
    }
  }

  // .team__slider
  &__slider {
  }

  // .team__freelance
  &__freelance {
    margin-block-start: vw-mobile(20);

    @media (min-width: #{900 + 0.1px}) {
      margin-block-start: vw-desktop(40);
    }
  }
}

.team-slider {
  user-select: none;
  overflow: visible;

  @media (max-width: 900px) {
    padding-inline-end: vw-mobile(20);
  }

  // .team-slider__wrapper
  &__wrapper {
  }

  // .team-slider__slide
  &__slide {
    block-size: auto;
  }
}

.team-card {
  position: relative;
  isolation: isolate;
  block-size: 100%;
  display: grid;
  gap: vw-mobile(20);
  padding: vw-mobile(20);
  line-height: 1.2;
  background: linear-gradient(308deg, rgba(87, 87, 87, 0.05) 0%, rgba(223, 223, 212, 0.05) 100%);
  box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.25);
  border-radius: vw-mobile(30);
  backdrop-filter: blur(5px);
  transform: translateZ(0);

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -2;
    padding: 1px;
    background: linear-gradient(60deg, rgba(#c9c9c9, 0.55) 0%, rgba(#1d1d1e, 0.55) 52%, rgba(#fff, 0.55) 100%);
    mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask-composite: exclude;
    border-radius: inherit;
  }

  @media (min-width: #{900 + 0.1px}) {
    gap: vw-desktop(10);
    padding-block: vw-desktop(30) vw-desktop(40);
    padding-inline: vw-desktop(30);
    border-radius: vw-desktop(30);
  }

  @media (max-width: 900px) {
    grid-template-columns: vw-mobile(120) 1fr;
  }

  // .team-card__image
  &__image {
    aspect-ratio: 1 / 1;
    font-size: 0;
    border-radius: vw-mobile(5);

    @media (min-width: #{900 + 0.1px}) {
      border-radius: vw-desktop(5);
    }
  }

  // .team-card__inner
  &__inner {
  }

  // .team-card__header
  &__header {
    margin-block-end: vw-mobile(10);

    @media (min-width: #{900 + 0.1px}) {
      margin-block-end: vw-desktop(20);
    }
  }

  // .team-card__title
  &__title {
    margin-block-end: vw-mobile(4);
    font-size: vw-mobile(24);

    @media (min-width: #{900 + 0.1px}) {
      margin-block-end: vw-desktop(4);
      font-size: vw-desktop(24);
    }
  }

  // .team-card__profession
  &__profession {
    font-size: vw-mobile(16);
    line-height: 1;
    color: $color-accent;

    @media (min-width: #{900 + 0.1px}) {
      font-size: vw-desktop(16);
    }
  }

  // .team-card__text
  &__text {
    font-size: vw-mobile(14);
    color: #7a7a7a;

    @media (min-width: #{900 + 0.1px}) {
      font-size: vw-desktop(14);
    }
  }
}

.freelance {
  @media (min-width: #{900 + 0.1px}) {
    padding-inline: vw-desktop(40);
  }

  // .freelance__text
  &__text {
    font-size: vw-mobile(16);

    @media (min-width: #{900 + 0.1px}) {
      font-size: vw-desktop(16);
    }
  }

  // .freelance__team
  &__team {
    display: flex;
    align-items: center;
    gap: vw-mobile(20);
    margin-block-start: vw-mobile(20);

    @media (min-width: #{900 + 0.1px}) {
      gap: vw-desktop(20);
      margin-block-start: vw-desktop(20);
    }
  }

  // .freelance__list
  &__list {
    display: flex;
    align-items: center;
    gap: vw-mobile(20);

    // .freelance__list--show
    &--show {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      inline-size: 100%;

      @media (min-width: #{900 + 0.1px}) {
        grid-template-columns: repeat(10, 1fr);
      }
    }

    @media (min-width: #{900 + 0.1px}) {
      gap: vw-desktop(20);
    }
  }

  // .freelance__image
  &__image {
    flex: 0 0 auto;
    aspect-ratio: 1 / 1;
    font-size: 0;
    border-radius: 50%;

    @media (min-width: #{900 + 0.1px}) {
      .freelance__list:not(.freelance__list--show) & {
        inline-size: vw-desktop(90);
      }

      .freelance__list:not(.freelance__list--show) &:not(:nth-child(-n + 9)) {
        display: none;
      }
    }

    @media (max-width: 900px) {
      .freelance__list:not(.freelance__list--show) & {
        inline-size: vw-mobile(60);
      }

      .freelance__list:not(.freelance__list--show) &:not(:nth-child(-n + 5)) {
        display: none;
      }
    }
  }

  // .freelance__button
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    inline-size: vw-mobile(60);
    aspect-ratio: 1 / 1;
    line-height: 1;
    color: #d2d2d2;
    background-color: $color-black;
    border-radius: 50%;

    @include prefers-reduced-motion {
      transition-property: opacity;
      transition-duration: 0.3s;
    }

    @include hover {
      opacity: 0.75;
    }

    @media (min-width: #{900 + 0.1px}) {
      inline-size: vw-desktop(90);
    }
  }
}
