.hero {
  padding-block: vw-mobile(85) vw-mobile(20);

  @media (min-width: #{900 + 0.1px}) {
    padding-block: vw-desktop(80) vw-desktop(40);
  }

  // .hero__container
  &__container {
  }

  // .hero__inner
  &__inner {
    padding-inline: vw-mobile(20);

    @media (min-width: #{900 + 0.1px}) {
      padding-inline: vw-desktop(100);
    }
  }

  // .hero__title
  &__title {
    --h1-font-size: #{vw-mobile(60)};

    margin-block-end: vw-mobile(60);
    text-wrap: balance;

    @media (min-width: #{900 + 0.1px}) {
      --h1-font-size: #{vw-desktop(54)};

      margin-block-end: vw-desktop(50);
    }
  }

  // .hero__services
  &__services {
  }

  // .hero__advantages
  &__advantages {
    margin-block-start: vw-desktop(80);
  }

  // .hero__marquee
  &__marquee {
    margin-block-start: vw-mobile(60);

    @media (min-width: #{900 + 0.1px}) {
      margin-block-start: vw-desktop(70);
    }
  }
}

.hero-services {
  display: grid;
  align-items: center;
  gap: vw-mobile(50);

  @media (min-width: #{900 + 0.1px}) {
    grid-template-columns: repeat(2, auto);
    gap: vw-desktop(130);
    inline-size: fit-content;
  }

  // .hero-services__link
  &__link {
    --button-width: 380;
    --button-height: 75;
    --button-border-radius: 16;

    @media (max-width: 900px) {
      --button-min-width: 100%;
    }
  }

  // .hero-services__list
  &__list {
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    row-gap: vw-mobile(10);
    column-gap: vw-mobile(40);
    inline-size: fit-content;
    line-height: 1;

    @media (min-width: #{900 + 0.1px}) {
      row-gap: vw-desktop(10);
      column-gap: vw-desktop(40);
    }
  }

  // .hero-services__item
  &__item {
  }
}

.hero-advantages {
  display: flex;
  flex-wrap: wrap;
  gap: vw-desktop(40);
  line-height: 120%;
  color: $color-black;

  @media (max-width: 900px) {
    display: none;
  }

  // .hero-advantages__item
  &__item {
  }

  // .hero-advantages__article
  &__article {
    position: relative;
    display: grid;
    grid-template-columns: vw-desktop(50) 1fr;
    align-items: start;
    gap: vw-desktop(20);
    max-inline-size: vw-desktop(470);
    padding-block: vw-desktop(30);
    padding-inline: vw-desktop(20);
    background: #e9e9e9;
    box-shadow:
      inset 0 0 3px 0 #787878,
      11px 11px 11px 0 rgba(0, 0, 0, 0);
    border-radius: vw-desktop(20);
  }

  // .hero-advantages__icon
  &__icon {
    aspect-ratio: 1 / 1;
    font-size: 0;

    img {
      object-fit: contain;
    }
  }

  // .hero-advantages__inner
  &__inner {
  }

  // .hero-advantages__title
  &__title {
    margin-block-end: vw-desktop(10);
    font-size: vw-desktop(24);
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }

  // .hero-advantages__text
  &__text {
  }

  // .hero-advantages__badge
  &__badge {
    position: absolute;
    inset-block-start: vw-desktop(-40);
    inset-inline-end: vw-desktop(-20);
    z-index: 1;
    inline-size: vw-desktop(90);
    aspect-ratio: 1 / 1;
    font-size: 0;

    img {
      object-fit: contain;
    }
  }
}

.marquee {
  display: flex;
  align-items: center;
  gap: vw-mobile(20);

  @media (min-width: #{900 + 0.1px}) {
    gap: vw-desktop(20);
  }

  // .marquee__inner
  &__inner {
    display: inherit;
    align-items: inherit;
    gap: inherit;
    animation: marquee 30s linear infinite;

    @keyframes marquee {
      0% {
        transform: translateX(vw-mobile(20));
      }

      100% {
        transform: translateX(-100%);
      }
    }

    @media (min-width: #{900 + 0.1px}) {
      @keyframes marquee {
        0% {
          transform: translateX(vw-desktop(20));
        }

        100% {
          transform: translateX(-100%);
        }
      }
    }
  }

  // .marquee__item
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    min-block-size: vw-mobile(50);
    padding-block: vw-mobile(5);
    padding-inline: vw-mobile(20);
    font-size: vw-mobile(18);
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    color: #c7c7c7;
    background-color: rgba(48, 48, 48, 0.3);
    border: 1px solid $color-accent;
    border-radius: vw-mobile(10);

    @media (min-width: #{900 + 0.1px}) {
      min-block-size: vw-desktop(50);
      padding-block: vw-desktop(5);
      padding-inline: vw-desktop(20);
      font-size: vw-desktop(18);
      border-radius: vw-desktop(10);
    }
  }
}
