:root {
  --font-main: "Consolas", monospace;
  --font-logo: "Jost", sans-serif;

  --color-primary: #f9f9f9;
  --color-black: #181c1f;
  --color-white: #fff;
  --color-text: #fff;
  --color-accent: #6fdd54;
  --color-button-gradient: linear-gradient(156deg, #6fdd54 0%, #1ccb6f 100%);
  --color-border: #5e5c5c;

  color: var(--color-text);

  &.light {
    --color-primary: #181c1f;
    --color-text: #444;
    --color-border: #e9e9e9;
  }
}
