.footer {
  padding-block: vw-mobile(40) vw-mobile(20);

  @media (min-width: #{900 + 0.1px}) {
    padding-block: vw-desktop(60) vw-desktop(40);
  }

  // .footer__container
  &__container {
  }

  // .footer__inner
  &__inner {
    --glass-padding-top: #{vw-mobile(30)};
    --glass-padding-bottom: #{vw-mobile(20)};

    :root:not(.portfolio-page) & {
      @media (min-width: #{900 + 0.1px}) {
        --glass-padding-block: #{vw-desktop(60)};
      }
    }
  }

  // .footer__top
  &__top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: vw-mobile(30);

    &:not(:last-child) {
      margin-block-end: vw-mobile(20);

      @media (min-width: #{900 + 0.1px}) {
        margin-block-end: vw-desktop(20);
      }
    }

    @media (min-width: #{900 + 0.1px}) {
      gap: vw-desktop(30);
    }
  }

  // .footer__main
  &__main {
  }

  // .footer__logo
  &__logo {
    &:not(:last-child) {
      margin-block-end: vw-mobile(20);

      @media (min-width: #{900 + 0.1px}) {
        margin-block-end: vw-desktop(20);
      }
    }
  }

  // .footer__contacts
  &__contacts {
  }

  // .footer__socials
  &__socials {
    @media (max-width: 900px) {
      inline-size: 100%;
    }
  }

  // .footer__bottom
  &__bottom {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: vw-mobile(20);
    padding-block: vw-mobile(5);
    font-size: vw-mobile(16);
    line-height: 1;
    color: #7e7e7e;

    @media (min-width: #{900 + 0.1px}) {
      gap: vw-desktop(20);
      padding-block: vw-desktop(5);
      font-size: vw-desktop(16);
    }
  }

  // .footer__copy
  &__copy {
  }

  // .footer__link
  &__link {
  }
}

.contacts {
  line-height: 1;

  .light & {
    color: $color-primary;
  }

  // .contacts__item
  &__item {
    &:not(:last-child) {
      margin-block-end: vw-mobile(10);

      @media (min-width: #{900 + 0.1px}) {
        margin-block-end: vw-desktop(10);
      }
    }
  }

  // .contacts__link
  &__link {
  }
}

.footer-socials {
  @media (min-width: #{900 + 0.1px}) {
    padding: vw-desktop(50);
    border: 2px solid $color-border;
    border-radius: vw-desktop(30);

    .light & {
      background-color: $color-white;
    }
  }

  // .footer-socials__item
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: vw-mobile(2);

    &:not(:last-child) {
      margin-block-end: vw-mobile(20);

      @media (min-width: #{900 + 0.1px}) {
        margin-block-end: vw-desktop(20);
      }
    }

    @media (min-width: #{900 + 0.1px}) {
      gap: vw-desktop(90);
    }
  }

  // .footer-socials__label
  &__label {
    display: flex;
    align-items: center;
    gap: vw-mobile(20);
    font-size: vw-mobile(16);

    .light & {
      color: $color-primary;
    }

    @media (min-width: #{900 + 0.1px}) {
      gap: vw-desktop(20);
      font-size: vw-desktop(20);
    }
  }

  // .footer-socials__icon
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    inline-size: vw-mobile(50);
    aspect-ratio: 1 / 1;
    font-size: 0;
    color: $color-white;
    background-color: #666;
    border-radius: 50%;

    // .footer-socials__icon--telegram
    &--telegram {
      svg {
        width: calc(24 / 50 * 100%);
        height: calc(22 / 50 * 100%);
      }
    }

    // .footer-socials__icon--code
    &--code {
      svg {
        width: calc(30 / 50 * 100%);
        height: calc(18 / 50 * 100%);
      }
    }

    @media (min-width: #{900 + 0.1px}) {
      inline-size: vw-desktop(50);
    }
  }

  // .footer-socials__text
  &__text {
  }

  // .footer-socials__link
  &__link {
  }
}

.copy {
  display: flex;
  align-items: center;
  gap: vw-mobile(8);

  @media (min-width: #{900 + 0.1px}) {
    gap: vw-desktop(8);
  }

  // .copy__icon
  &__icon {
    font-size: vw-mobile(16);

    @media (min-width: #{900 + 0.1px}) {
      font-size: vw-desktop(20);
    }
  }

  // .copy__text
  &__text {
  }
}
