.footer {
  padding-block: vw-mobile(40);

  @media (min-width: #{768 + 0.1px}) {
    padding-block: vw-tablet(40);
  }

  @media (min-width: #{1024 + 0.1px}) {
    padding-block: vw-desktop(40);
  }

  // .footer__container
  &__container {
  }

  // .footer__inner
  &__inner {
  }

  // .footer__top
  &__top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: vw-mobile(20);

    &:not(:last-child) {
      margin-block-end: vw-mobile(20);

      @media (min-width: #{768 + 0.1px}) {
        margin-block-end: vw-tablet(20);
      }

      @media (min-width: #{1024 + 0.1px}) {
        margin-block-end: vw-desktop(20);
      }
    }

    @media (min-width: #{768 + 0.1px}) {
      gap: vw-tablet(20);
    }

    @media (min-width: #{1024 + 0.1px}) {
      gap: vw-desktop(20);
    }
  }

  // .footer__main
  &__main {
  }

  // .footer__logo
  &__logo {
    &:not(:last-child) {
      margin-block-end: vw-mobile(20);

      @media (min-width: #{768 + 0.1px}) {
        margin-block-end: vw-tablet(20);
      }

      @media (min-width: #{1024 + 0.1px}) {
        margin-block-end: vw-desktop(20);
      }
    }
  }

  // .footer__contacts
  &__contacts {
  }

  // .footer__socials
  &__socials {
    @media (max-width: 1024px) {
      inline-size: 100%;
    }
  }

  // .footer__bottom
  &__bottom {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    row-gap: vw-mobile(10);
    column-gap: vw-mobile(20);
    padding-block: vw-mobile(5);
    font-size: vw-mobile(16);
    line-height: 1;
    color: $color-copyright;

    @media (min-width: #{768 + 0.1px}) {
      row-gap: vw-tablet(10);
      column-gap: vw-tablet(20);
      padding-block: vw-tablet(5);
      font-size: vw-tablet(16);
    }

    @media (min-width: #{1024 + 0.1px}) {
      row-gap: vw-desktop(10);
      column-gap: vw-desktop(20);
      padding-block: vw-desktop(5);
      font-size: vw-desktop(16);
    }
  }

  // .footer__copy
  &__copy {
  }

  // .footer__link
  &__link {
    @include prefers-reduced-motion {
      transition-property: opacity;
      transition-duration: 0.3s;
    }

    @include hover {
      opacity: 0.75;
    }
  }
}

.contacts {
  line-height: 1;
  color: $color-black;

  // .contacts__item
  &__item {
    &:not(:last-child) {
      margin-block-end: vw-mobile(10);

      @media (min-width: #{768 + 0.1px}) {
        margin-block-end: vw-tablet(10);
      }

      @media (min-width: #{1024 + 0.1px}) {
        margin-block-end: vw-desktop(10);
      }
    }
  }

  // .contacts__link
  &__link {
    @include prefers-reduced-motion {
      transition-property: opacity;
      transition-duration: 0.3s;
    }

    @include hover {
      opacity: 0.75;
    }
  }
}

.footer-socials {
  padding: vw-mobile(20);
  background-color: $color-white;
  border: 2px solid $color-border;
  border-radius: vw-mobile(20);

  @media (min-width: #{768 + 0.1px}) {
    padding: vw-tablet-2(50, 20);
    border-radius: vw-tablet-2(30, 20);
  }

  @media (min-width: #{1024 + 0.1px}) {
    padding: vw-desktop(50);
    border-radius: vw-desktop(30);
  }

  // .footer-socials__item
  &__item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    column-gap: vw-mobile(20);
    row-gap: vw-mobile(10);

    &:not(:last-child) {
      margin-block-end: vw-mobile(20);

      @media (min-width: #{768 + 0.1px}) {
        margin-block-end: vw-tablet(20);
      }

      @media (min-width: #{1024 + 0.1px}) {
        margin-block-end: vw-desktop(20);
      }
    }

    @media (min-width: #{768 + 0.1px}) {
      column-gap: vw-tablet-2(90, 20);
      row-gap: vw-tablet(10);
    }

    @media (min-width: #{1024 + 0.1px}) {
      column-gap: vw-desktop(90);
      row-gap: vw-desktop(10);
    }
  }

  // .footer-socials__label
  &__label {
    display: flex;
    align-items: center;
    gap: vw-mobile(20);
    color: $color-black;

    @media (min-width: #{768 + 0.1px}) {
      gap: vw-tablet(20);
    }

    @media (min-width: #{1024 + 0.1px}) {
      gap: vw-desktop(20);
    }
  }

  // .footer-socials__icon
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    inline-size: vw-mobile(40);
    aspect-ratio: 1 / 1;
    font-size: 0;
    color: $color-white;
    background-color: $color-footer-socials;
    border-radius: 50%;

    // .footer-socials__icon--telegram
    &--telegram {
      svg {
        width: calc(24 / 50 * 100%);
        height: calc(22 / 50 * 100%);
      }
    }

    // .footer-socials__icon--code
    &--code {
      svg {
        width: calc(30 / 50 * 100%);
        height: calc(18 / 50 * 100%);
      }
    }

    @media (min-width: #{768 + 0.1px}) {
      inline-size: vw-tablet-2(50, 40);
    }

    @media (min-width: #{1024 + 0.1px}) {
      inline-size: vw-desktop(50);
    }
  }

  // .footer-socials__text
  &__text {
  }

  // .footer-socials__link
  &__link {
    @media (max-width: 768px) {
      --button-min-width: 100%;
    }
  }
}

.copy {
  display: flex;
  align-items: center;
  gap: vw-mobile(8);

  @media (min-width: #{768 + 0.1px}) {
    gap: vw-tablet(8);
  }

  @media (min-width: #{1024 + 0.1px}) {
    gap: vw-desktop(8);
  }

  // .copy__icon
  &__icon {
    font-size: vw-mobile(20);

    @media (min-width: #{768 + 0.1px}) {
      font-size: vw-tablet(20);
    }

    @media (min-width: #{1024 + 0.1px}) {
      font-size: vw-desktop(20);
    }
  }

  // .copy__text
  &__text {
  }
}
