.header {
  // .header__container
  &__container {
  }

  // .header__inner
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: vw-mobile(20);
    padding-block: vw-mobile(20);

    @media (min-width: #{900 + 0.1px}) {
      gap: vw-desktop(16);
      padding-block: vw-desktop(20);
      padding-inline: vw-desktop(100);
    }
  }

  // .header__logo
  &__logo {
    display: flex;
    align-items: center;
  }

  // .header__links
  &__links {
    display: flex;
    align-items: center;
    gap: vw-mobile(50);

    @media (min-width: #{900 + 0.1px}) {
      gap: vw-desktop(200);
    }
  }

  // .header__nav
  &__nav {
  }

  // .header__socials
  &__socials {
  }
}

.nav {
  font-size: vw-mobile(18);
  line-height: 1;
  text-transform: uppercase;
  color: #c7c7c7;

  .light & {
    color: #0f1315;

    @media (max-width: 900px) {
      display: none;
    }
  }

  @media (min-width: #{900 + 0.1px}) {
    font-size: vw-desktop(18);
  }

  // .nav__inner
  &__inner {
  }

  // .nav__list
  &__list {
    display: flex;
    align-items: center;
    gap: vw-mobile(20);

    @media (min-width: #{900 + 0.1px}) {
      gap: vw-desktop(40);
    }
  }

  // .nav__item
  &__item {
    // .nav__item--hide
    &--hide {
      @media (max-width: 900px) {
        display: none;
      }
    }
  }

  // .nav__link
  &__link {
  }
}

.header-socials {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: vw-mobile(20);
  font-size: 0;
  color: $color-black;

  @media (min-width: #{900 + 0.1px}) {
    gap: vw-desktop(16);
  }

  // .header-socials__item
  &__item {
    flex: 0 0 auto;
  }

  // .header-socials__link
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    inline-size: vw-mobile(40);
    aspect-ratio: 1 / 1;
    background-color: $color-accent;
    border-radius: vw-mobile(10);
    filter: hue-rotate(0deg) saturate(1);
    transform: translateZ(0);

    @include prefers-reduced-motion {
      transition-property: filter;
      transition-duration: 0.3s;
    }

    @include hover {
      filter: hue-rotate(-15deg) saturate(1.05);
    }

    @media (min-width: #{900 + 0.1px}) {
      inline-size: vw-desktop(48);
      border-radius: vw-desktop(16);
    }

    svg {
      width: calc(24 / 48 * 100%);
      height: calc(24 / 48 * 100%);
    }

    &:not(&--small) {
      svg {
        transform: translateX(vw-mobile(2));

        @media (min-width: #{900 + 0.1px}) {
          transform: translateX(vw-desktop(2));
        }
      }
    }

    // .header-socials__link--small
    &--small {
      svg {
        height: calc(22 / 48 * 100%);
      }
    }
  }
}
