.form {
  padding-block: vw-mobile(40);

  @media (min-width: #{900 + 0.1px}) {
    padding-block: vw-desktop(65) vw-desktop(75);
  }

  .portfolio-page & {
    @media (min-width: #{900 + 0.1px}) {
      padding-block: vw-desktop(40);
    }
  }

  // .form__container
  &__container {
  }

  // .form__block
  &__block {
    @media (min-width: #{900 + 0.1px}) {
      padding-inline: vw-desktop(300);
    }
  }

  // .form__title
  &__title {
    margin-block-end: vw-mobile(20);
    text-align: center;

    .portfolio-page & {
      font-weight: 700;
    }

    @media (min-width: #{900 + 0.1px}) {
      margin-block-end: vw-desktop(40);
    }
  }

  // .form__inner
  &__inner {
  }

  // .form__inputs
  &__inputs {
    display: grid;
    gap: vw-mobile(20);
    margin-block-end: vw-mobile(40);

    @media (min-width: #{900 + 0.1px}) {
      grid-template-columns: repeat(2, 1fr);
      gap: vw-desktop(20);
      margin-block-end: vw-desktop(40);
    }

    .portfolio-page & {
      margin-block-end: vw-mobile(20);

      @media (min-width: #{900 + 0.1px}) {
        gap: vw-desktop(20);
        margin-block-end: vw-desktop(20);
      }
    }
  }

  // .form__input
  &__input {
    input {
      block-size: vw-mobile(70);
      padding-inline: vw-mobile(20);
      border: 1px solid #8c8c8c;
      border-radius: vw-mobile(20);

      @include prefers-reduced-motion {
        transition-property: border-color;
        transition-duration: 0.3s;
      }

      &:focus {
        border-color: $color-accent;
      }

      @media (min-width: #{900 + 0.1px}) {
        block-size: vw-desktop(70);
        padding-inline: vw-desktop(20);
        border-radius: vw-desktop(20);
      }

      @media (max-width: 900px) {
        inline-size: vw-mobile(380);
        margin-inline: auto;
      }

      &::placeholder {
        color: #5e5c5c;
      }
    }
  }

  // .form__button
  &__button {
    --button-width: 380;
    --button-height: 75;
    --button-border-radius: 16;

    margin-inline: auto;
  }

  // .form__text
  &__text {
    margin-block-start: vw-mobile(20);
    font-size: vw-mobile(16);
    text-align: center;

    .light & {
      color: $color-primary;
    }

    .portfolio-page & {
      @media (min-width: #{900 + 0.1px}) {
        font-size: vw-desktop(20);
      }
    }

    @media (min-width: #{900 + 0.1px}) {
      margin-block-start: vw-desktop(20);
      padding-inline: vw-desktop(125);
      font-size: vw-desktop(16);
    }

    a {
      color: $color-accent;

      @include prefers-reduced-motion {
        transition-property: opacity;
        transition-duration: 0.3s;
      }

      @include hover {
        opacity: 0.75;
      }
    }
  }
}
