$color-primary: var(--color-primary);
$color-black: var(--color-black);
$color-white: var(--color-white);
$color-text: var(--color-text);
$color-accent: var(--color-accent);
$color-button-gradient: var(--color-button-gradient);
$color-border: var(--color-border);
