$color-black: var(--color-black);
$color-white: var(--color-white);
$color-white-33: var(--color-white-33);
$color-text: var(--color-text);
$color-main-title: var(--color-main-title);
$color-header-link: var(--color-header-link);
$color-background: var(--color-background);
$color-background-text: var(--color-background-text);
$color-accent: var(--color-accent);
$color-button: var(--color-black);
$color-button-gradient: var(--color-button-gradient);
$color-border: var(--color-border);
$color-link: var(--color-link);
$color-placeholder: var(--color-placeholder);
$color-input-border: var(--color-input-border);
$color-copyright: var(--color-copyright);
$color-footer-socials: var(--color-footer-socials);
$color-tech-icon: var(--color-tech-icon);
$box-shadow: var(--box-shadow);
