.button {
  position: relative;
  isolation: isolate;
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: fit-content;
  min-inline-size: var(--button-min-width, calc(var(--button-width, 200) / 20 * 1em));
  min-block-size: calc(var(--button-height, 50) / 20 * 1em);
  padding-block: calc(var(--button-padding-block, 5) / 20 * 1em);
  padding-inline: calc(var(--button-padding-inline, 30) / 20 * 1em);
  line-height: 1;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  color: $color-black;
  background-image: linear-gradient(156deg, yellow 0%, #76dd52 25%, #15cd6c 75%, #18e779 100%);
  background-size: 150% 100%;
  background-position: 50% 0;
  background-repeat: no-repeat;
  border: 1px solid $color-accent;
  border-radius: calc(var(--button-border-radius, 15) / 20 * 1em);

  @include prefers-reduced-motion {
    transition-property: background-position;
    transition-duration: 0.3s;
  }

  @include hover {
    background-position: 0 0;
  }

  .light & {
    background-image: linear-gradient(156deg, yellow 0%, #6fd44c 25%, #17c569 75%, #18e779 100%);
    background-position: 50% 0;

    @include hover {
      background-position: 100% 0;
    }
  }
}
