.button {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: fit-content;
  min-inline-size: var(--button-min-width, calc(var(--button-width, 200) / 20 * 1em));
  min-block-size: calc(var(--button-height, 50) / 20 * 1em);
  padding-block: calc(var(--button-padding-block, 5) / 20 * 1em);
  padding-inline: calc(var(--button-padding-inline, 30) / 20 * 1em);
  line-height: 1;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  color: $color-button;
  background-image: $color-button-gradient;
  border: 1px solid $color-accent;
  border-radius: calc(var(--button-border-radius, 15) / 20 * 1em);

  @include prefers-reduced-motion {
    transition-property: opacity;
    transition-duration: 0.3s;
  }

  @include hover {
    opacity: 0.75;
  }
}
