.glass {
  &:not(&--desktop) {
    padding-block: var(--glass-padding-block, var(--glass-padding-top, #{vw-mobile(20)}))
      var(--glass-padding-block, var(--glass-padding-bottom, #{vw-mobile(30)}));
    padding-inline: vw-mobile(20);
    background: var(
      --glass-background,
      linear-gradient(314deg, rgba(87, 87, 87, 0.05) 0%, rgba(223, 223, 212, 0.05) 100%)
    );
    box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.25);
    border-radius: var(--glass-border-radius, #{vw-mobile(30)});
    backdrop-filter: blur(5px);
    transform: translateZ(0);

    :root:not(.light) &:not(.glass--solid) {
      position: relative;
      isolation: isolate;

      &::after {
        content: "";
        position: absolute;
        inset: 0;
        z-index: -2;
        padding: 1px;
        background: linear-gradient(
          100deg,
          rgba(255, 255, 255, 0.55) 0%,
          rgba(29, 29, 30, 0.55) 25%,
          rgba(29, 29, 30, 0.55) 95%,
          rgba(255, 255, 255, 0.55) 100%
        );
        mask:
          linear-gradient(#fff 0 0) content-box,
          linear-gradient(#fff 0 0);
        mask-composite: exclude;
        border-radius: inherit;
      }
    }

    .light & {
      --glass-border-radius: #{vw-mobile(20)};
      --glass-background: rgba(255, 255, 255, 0.33);

      box-shadow: 0 4px 22px 0 rgba(192, 192, 192, 0.25);
      border: 1px solid $color-white;
      backdrop-filter: blur(2.5px);

      @media (min-width: #{900 + 0.1px}) {
        --glass-border-radius: #{vw-desktop(30)};
      }
    }

    @media (min-width: #{900 + 0.1px}) {
      --glass-padding-top: #{vw-desktop(40)};
      --glass-padding-bottom: #{vw-desktop(40)};
      --glass-border-radius: #{vw-desktop(30)};

      padding-inline: vw-desktop(100);
    }
  }

  // .glass--desktop
  &--desktop {
    @media (min-width: #{900 + 0.1px}) {
      padding-block: var(--glass-padding-block, var(--glass-padding-top, #{vw-desktop(40)}))
        var(--glass-padding-block, var(--glass-padding-bottom, #{vw-desktop(40)}));
      padding-inline: vw-desktop(100);
      background: var(
        --glass-background,
        linear-gradient(314deg, rgba(87, 87, 87, 0.05) 0%, rgba(223, 223, 212, 0.05) 100%)
      );
      box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.25);
      border: 1px solid $color-white;
      border-radius: var(--glass-border-radius, #{vw-desktop(30)});
      backdrop-filter: blur(5px);
      transform: translateZ(0);

      :root:not(.light) &:not(.glass--solid) {
        position: relative;
        isolation: isolate;
        overflow: hidden;

        &::after {
          content: "";
          position: absolute;
          inset: 0;
          z-index: -2;
          padding: 1px;
          background: linear-gradient(345deg, rgba(#c9c9c9, 0.55) 0%, rgba(#1d1d1e, 0.55) 52%, rgba(#fff, 0.55) 100%);
          mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
          mask-composite: exclude;
          border-radius: inherit;
        }
      }

      .light & {
        --glass-background: rgba(255, 255, 255, 0.33);

        box-shadow: 0 4px 22px 0 rgba(192, 192, 192, 0.25);
        border: 1px solid $color-white;
        backdrop-filter: blur(2.5px);
      }
    }
  }

  // .glass--solid
  &--solid {
  }
}
