.h1 {
  font-size: var(--h1-font-size-mobile, vw-mobile(36));
  line-height: var(--h1-line-height, 1.2);
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: $color-primary;

  .light & {
    color: #1a1616;
  }

  @media (min-width: #{900 + 0.1px}) {
    font-size: vw-desktop(48);
  }
}
