.h2 {
  font-size: vw-mobile(34);
  line-height: 120%;
  letter-spacing: 0.01em;
  text-transform: uppercase;

  .light & {
    color: $color-primary;
  }

  @media (min-width: #{900 + 0.1px}) {
    font-size: vw-desktop(40);
  }
}
