.logo {
  display: flex;
  align-items: center;
  gap: vw-mobile(10);
  font-family: $font-jost;
  font-weight: 600;
  font-size: vw-mobile(20);
  line-height: 1;
  text-transform: uppercase;
  color: $color-primary;

  // .logo--footer
  &--footer {
    --logo-icon-background: #{$color-button-gradient};
  }

  @media (min-width: #{900 + 0.1px}) {
    gap: vw-desktop(10);
    font-size: vw-desktop(20);
  }

  &::before {
    content: "";
    flex: 0 0 auto;
    inline-size: vw-mobile(40);
    aspect-ratio: 1 / 1;
    font-size: 0;
    background: var(--logo-icon-background, $color-accent);
    border: 1px solid $color-accent;
    border-radius: 50%;

    @media (min-width: #{900 + 0.1px}) {
      inline-size: vw-desktop(40);
    }
  }
}
